@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<div class="mt-3">
    <input @oninput="Oninput">
    <p>@text</p>
</div>

<div style="background-color: lightblue;" @onmouseover="MouseOver" @onmouseout="MouseOut">
    @devText
</div>
@code {
    private int currentCount = 0;

    string text="";

    string devText="Mouse out";

    [Parameter]
    public int IncrementAmount {get; set;}=1;
    
    private void IncrementCount() => currentCount++;
    private void Oninput(ChangeEventArgs e) => text = (string)e.Value!;
    private void MouseOver(MouseEventArgs args) => devText = "Mouse over";
    private void MouseOut(MouseEventArgs args) => devText = "Mouse out";
}

